<section class="section section--dark-background no-padding-top office-order">
  <div class="container order__container">
    <div class="office-order__banner banner">
      <h3
        class="info-block__title title--white title--no-margin info-block__title--centered info-block__title--order"
      >
        Розрахуйте вартість свого прибирання в онлайн-калькуляторі!
      </h3>

      <div class="animated-btn-wrap">
        <a
          href="#order-cleaning-block"
          class="btn--centered dynamic-link cleaning__btn btn calc-btn blob-btn blob-btn--light blob-btn--white-border"
        >
          Розрахувати вартість
          <span class="blob-btn__inner blob-btn__inner--light">
            <span class="blob-btn__blobs">
              <span class="blob-btn__blob blob-btn__blob--light"></span>
              <span class="blob-btn__blob blob-btn__blob--light"></span>
              <span class="blob-btn__blob blob-btn__blob--light"></span>
              <span class="blob-btn__blob blob-btn__blob--light"></span>
            </span>
          </span>
        </a>
        <include src="partials/common/btn-animation-svg.html"></include>
      </div>
    </div>
  </div>
</section>
