<table class="success-order-info-table success-table">
  <tr>
    <th class="success-order__name">Ім'я</th>
    <td class="success-order__value">Марна</td>
  </tr>
  <tr>
    <th class="success-order__name">Прізвище</th>
    <td class="success-order__value">Шпвлак</td>
  </tr>
  <tr>
    <th class="success-order__name">Номер телефону</th>
    <td class="success-order__value">456765456</td>
  </tr>
  <tr>
    <th class="success-order__name">Email</th>
    <td class="success-order__value">fghjh@mail.com</td>
  </tr>
  <tr>
    <th class="success-order__name">Дата прибирання</th>
    <td class="success-order__value">29/09/2023</td>
  </tr>
  <tr>
    <th class="success-order__name">Час прибирання</th>
    <td class="success-order__value">12 : 00</td>
  </tr>
  <tr>
    <th class="success-order__name">Адреса прибирання</th>
    <td class="success-order__value">Kharkiv</td>
  </tr>
  <tr>
    <th class="success-order__name">Коментар</th>
    <td class="success-order__value">ifhsihgoR kahflshgldhr</td>
  </tr>
  <tr>
    <th class="success-order__name">Де забрати ключі</th>
    <td class="success-order__value">peremogy strett</td>
  </tr>
  <tr>
    <th class="success-order__name">Куди віддати ключі</th>
    <td class="success-order__value">peremogy strett</td>
  </tr>
  <tr>
    <th class="success-order__name">Тип будівлі</th>
    <td class="success-order__value">Квартира</td>
  </tr>
  <tr>
    <th class="success-order__name">Тип оплати</th>
    <td class="success-order__value">Готывка</td>
  </tr>
</table>
