<table class="success-order-info-table success-table">
  <tr>
    <th class="success-order__name">Ім'я</th>
    <td class="success-order__value" data-field="userName">Марна</td>
  </tr>
  <tr>
    <th class="success-order__name">Прізвище</th>
    <td class="success-order__value" data-field="userSurname">Шпвлак</td>
  </tr>
  <tr>
    <th class="success-order__name">Номер телефону</th>
    <td class="success-order__value" data-field="userTel">456765456</td>
  </tr>
  <tr>
    <th class="success-order__name">Email</th>
    <td class="success-order__value" data-field="userEmail">fghjh@mail.com</td>
  </tr>
  <tr>
    <th class="success-order__name">Дата прибирання</th>
    <td class="success-order__value" data-field="userDate">29/09/2023</td>
  </tr>
  <tr>
    <th class="success-order__name">Час прибирання</th>
    <td class="success-order__value" data-field="userTime">12 : 00</td>
  </tr>
  <tr>
    <th class="success-order__name">Адреса прибирання</th>
    <td class="success-order__value" data-field="userLocation">Kharkiv</td>
  </tr>
  <tr>
    <th class="success-order__name">Коментар</th>
    <td class="success-order__value" data-field="userComment">
      ifhsihgoR kahflshgldhr
    </td>
  </tr>
  <tr>
    <th class="success-order__name">Де забрати ключі</th>
    <td class="success-order__value" data-field="userGiveKeyAddress">
      peremogy strett
    </td>
  </tr>
  <tr>
    <th class="success-order__name">Куди віддати ключі</th>
    <td class="success-order__value" data-field="userTakeKeyAddress">
      peremogy strett
    </td>
  </tr>
  <tr>
    <th class="success-order__name">Тип будівлі</th>
    <td class="success-order__value" data-field="userBuildingType">Квартира</td>
  </tr>
  <tr>
    <th class="success-order__name">Тип оплати</th>
    <td class="success-order__value" data-field="userPaymentType">Готівка</td>
  </tr>
</table>
