<table class="success-order-services-table success-table">
  <thead>
    <tr>
      <th class="success-order__name"></th>
      <th class="success-order__name success-order__quantity">Кількість</th>
      <th class="success-order__value success-order__cost">Вартість</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="success-order__name">Площа, м²</th>
      <td class="success-order__value success-order__quantity">15</td>
      <td class="success-order__value success-order__cost">30zł</td>
    </tr>
    <tr>
      <th scope="row" class="success-order__name">
        Хімчистка офісних стільчиків
      </th>
      <td class="success-order__value success-order__quantity">3</td>
      <td class="success-order__value success-order__cost">60zł</td>
    </tr>
    <tr>
      <th scope="row" class="success-order__name">Плита</th>
      <td class="success-order__value success-order__quantity">2</td>
      <td class="success-order__value success-order__cost">70zł</td>
    </tr>
  </tbody>
</table>
