.relative-positioned {
  position: relative;
}
.no-padding-top {
  padding-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}




            #calendar {
              font-family: Arial, sans-serif;
              text-align: center;
              max-width: 400px;
              margin: 0 auto;
            }
      
            #header {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 10px;
            }
      
            #prevMonth,
            #nextMonth {
              background-color: #f0f0f0;
              border: none;
              padding: 5px 10px;
              cursor: pointer;
            }
      
            table {
              width: 100%;
            }
      
            th,
            td {
              padding: 10px;
            }
      
            th {
              background-color: #333;
              color: white;
            }
      
            td {
              border: 1px solid #ccc;
            }
      
            .current-month {
              background-color: #f0f0f0;
            }
      
            .previous-month,
            .next-month,
                        .disabled-day {
              color: #ccc;
            }

                            .current-day {
                              color: red;
                              font-weight: bold;
                            }