.section {
    padding-top: 64px;
    padding-bottom: 64px;
  @media screen and (min-width: 768px) {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 116px;
    padding-bottom: 116px;
  }
 
}

.section--dark-background {
  background-color: $first-additional-bg-color;
}

.section--hero {
  padding-top:32px;
  padding-bottom: 32px;
    @media screen and (min-width: 768px) {
      padding-bottom: 0;
    }
    @media screen and (min-width: 1440px) {
        padding-top: 141px;
        
        // padding-bottom: 88px;
    }
}