<section class="section  section--dark-background section--no-padding-top">
  <div class="container">
    <h2 class="section__title title">Наші послуги</h2>
    <ul class="block-wrapper services-types__list">
      <li class="buildings__item services-types__item">
        <div class="buildings__icon-wrap">
            <img
              src="./images/services/1@1x.png"
              srcset="
                ./images/services/1@1x.png 1x,
                ./images/services/1@2x.png 2x
              "
              alt="Картинка послуги"
            />
          </div>
        <h4 class="block__title buildings__text services-types__text">Прибирання кімнат</h4>
      </li>
      <li class="buildings__item services-types__item">
        <div class="buildings__icon-wrap">
            <img
              src="./images/services/2@1x.png"
              srcset="
                ./images/services/2@1x.png 1x,
                ./images/services/2@2x.png 2x
              "
              alt="Картинка послуги"
            />
          </div>
        <h4 class="block__title buildings__text services-types__text">Прибирання кухні</h4>
      </li>
      <li class="buildings__item services-types__item">
        <div class="buildings__icon-wrap">
            <img
              src="./images/services/3@1x.png"
              srcset="
                ./images/services/3@1x.png 1x,
                ./images/services/3@2x.png 2x
              "
              alt="Картинка послуги"
            />
          </div>
        <h4 class="block__title buildings__text services-types__text">Прибирання санвузла</h4>
      </li>
      <li class="buildings__item services-types__item">
        <div class="buildings__icon-wrap">
            <img
              src="./images/services/4@1x.png"
              srcset="
                ./images/services/4@1x.png 1x,
                ./images/services/4@2x.png 2x
              "
              alt="Картинка послуги"
            />
          </div>
        <h4 class="block__title buildings__text services-types__text">Прибирання та виніс сміття</h4>
      </li>
      <li class="buildings__item services-types__item">
        <div class="buildings__icon-wrap">
            <img
              src="./images/services/5@1x.png"
              srcset="
                ./images/services/5@1x.png 1x,
                ./images/services/5@2x.png 2x
              "
              alt="Картинка послуги"
            />
          </div>
        <h4 class="block__title buildings__text services-types__text">Миття вікон</h4>
      </li>
      <li class="buildings__item services-types__item">
        <div class="buildings__icon-wrap">
            <img
              src="./images/services/6@1x.png"
              srcset="
                ./images/services/6@1x.png 1x,
                ./images/services/6@2x.png 2x
              "
              alt="Картинка послуги"
            />
          </div>
        <h4 class="block__title buildings__text services-types__text">Усунення водного нальоту</h4>
      </li>
      <li class="buildings__item services-types__item">
        <div class="buildings__icon-wrap">
            <img
              src="./images/services/7@1x.png"
              srcset="
                ./images/services/7@1x.png 1x,
                ./images/services/7@2x.png 2x
              "
              alt="Картинка послуги"
            />
          </div>
        <h4 class="block__title buildings__text services-types__text">Хімчистка диваніву</h4>
      </li>
      <li class="buildings__item services-types__item">
        <div class="buildings__icon-wrap">
            <img
              src="./images/services/8@1x.png"
              srcset="
                ./images/services/8@1x.png 1x,
                ./images/services/8@2x.png 2x
              "
              alt="Картинка послуги"
            />
          </div>
        <h4 class="block__title buildings__text services-types__text">Миття стін</h4>
      </li>
      <li class="buildings__item services-types__item">
        <div class="buildings__icon-wrap">
            <img
              src="./images/services/9@1x.png"
              srcset="
                ./images/services/9@1x.png 1x,
                ./images/services/9@2x.png 2x
              "
              alt="Картинка послуги"
            />
          </div>
        <h4 class="block__title buildings__text services-types__text">Миття підлоги</h4>
      </li>
      <li class="buildings__item services-types__item">
        <div class="buildings__icon-wrap">
            <img
              src="./images/services/10@1x.png"
              srcset="
                ./images/services/10@1x.png 1x,
                ./images/services/10@2x.png 2x
              "
              alt="Картинка послуги"
            />
          </div>
        <h4 class="block__title buildings__text services-types__text">Миття посуду</h4>
      </li>
      <li class="buildings__item services-types__item">
        <div class="buildings__icon-wrap">
            <img
              src="./images/services/11@1x.png"
              srcset="
                ./images/services/11@1x.png 1x,
                ./images/services/11@2x.png 2x
              "
              alt="Картинка послуги"
            />
          </div>
        <h4 class="block__title buildings__text services-types__text">Усунення жиру та нагару</h4>
      </li>
      <li class="buildings__item services-types__item">
        <div class="buildings__icon-wrap">
            <img
              src="./images/services/12@1x.png"
              srcset="
                ./images/services/12@1x.png 1x,
                ./images/services/12@2x.png 2x
              "
              alt="Картинка послуги"
            />
          </div>
        <h4 class="block__title buildings__text services-types__text">Пилосос</h4>
      </li>
    </ul>
  
</section>
