<section
  class="section section--dark-background section--no-padding-top office-order"
>
  <div class="container order__container">
    <div class="office-order__banner banner">
      <h3
        class="info-block__title info-block__title--white info-block__title--centered info-block__title--order"
      >
        Розрахуйте вартість свого прибирання в онлайн-калькуляторі!
      </h3>
      <a href="#order-cleaning-block" class="cleaning__order-link dynamic-link"
        ><button class="cleaning__btn btn btn--light calc-btn" type="button">
          Розрахувати вартість
        </button></a
      >
    </div>
  </div>
</section>
