<section class="section section--dark-background" id="office-calc-block">
  <div class="container order-cleaning__container office-calc">
    <h2 class="section__title title--office-calc">
      Розрахунок вартості прибирання
    </h2>
    <div class="office-calc__wrap">
      <div class="form--subscription office-calc__block data-order">
        <h4 class="form-title data-order__title">Вид приміщення</h4>
        <ul class="buildings">
          <li
            class="buildings__element buildings__element--current"
            id="building-1"
          >
            Офіс
          </li>
          <li class="buildings__element" id="building-2">Магазин</li>
          <li class="buildings__element" id="building-3">Ресторан</li>
        </ul>
        <h4 class="form-title data-order__title">Оберіть площу приміщення</h4>
        <div class="data-order__wrap wrap--square" data-id = "square">
          <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus" data-type="minus"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
                aria-label=" Зменшити кількість квадратних метрів"
              >
                <use href="./images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
   

          <span class="quantity-block__text quantity-block__value service-quantity" >
            <span data-name="square" class="square-value">1</span> м²
          </span>

            <button type="button" class="control-quantity-btn control-quantity-btn--plus" data-type="plus">
              <svg
                class="icon--plus"
                width="35"
                height="35"
                aria-label="Збільшити кількість квадратних метрів"
              >
                <use href="./images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
          </div>
          <span class="data-order__text">2zł за м²</span>
        </div>
        <h4 class="form-title data-order__title">Додаткові послуги</h4>
        <ul class="data-order__add-services-list">
          <li class="add-services-list__item ">
            <label class="service-element"  data-id = "windowsStandard">
              <input
               class="checkbox"
              type="checkbox"
              />
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text">Миття вікон (стандартні)</span>&nbsp; -&nbsp; <span class="service-element__accent" data-value="35">35zł</span></span>
            </label>
            <div class="data-order__wrap wrap--service isHidden">
              <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus" data-type="minus"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
                aria-label="Зменшити кількість "
              >
                <use href="./images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value service-quantity" data-name="windowsStandard">1</span>
            
            <button type="button" class="control-quantity-btn control-quantity-btn--plus" data-type="plus">
              <svg
                class="icon--plus"
                width="35"
                height="35"
                aria-label="Збільшити кількість"
              >
                <use href="./images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
          <li class="add-services-list__item">
            <label class="service-element" data-id = "windowsLarge">
              <input
               class="checkbox"
              type="checkbox"
              />
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text">Миття вікон (до підлоги)</span> -&nbsp; <span class="service-element__accent"  data-value="40">40zł</span></span>
            </label>
            <div class="data-order__wrap wrap--service isHidden">
              <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus" data-type="minus"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
                aria-label=" Зменшити кількість "
              >
                <use href="./images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value service-quantity" data-name = "windowsLarge">1</span>
            
            <button type="button" class="control-quantity-btn control-quantity-btn--plus" data-type="plus">
              <svg
                class="icon--plus"
                width="35"
                height="35"
                aria-label="Збільшити кількість"
              >
                <use href="./images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
          <li class="add-services-list__item">
            <label class="service-element" data-id = "microWave">
              <input
               class="checkbox"
              type="checkbox"
              />
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text">Мікрохвильовка</span>  -&nbsp; <span class="service-element__accent" data-value="15">15zł</span></span>
            </label>
            <div class="data-order__wrap wrap--service isHidden">
              <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus" data-type="minus"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
                aria-label=" Зменшити кількість "
              >
                <use href="./images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value service-quantity" data-name = "microWave">1</span>
            
            <button type="button" class="control-quantity-btn control-quantity-btn--plus" data-type="plus">
              <svg
                class="icon--plus"
                width="35"
                height="35"
                aria-label="Збільшити кількість"
              >
                <use href="./images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
          <li class="add-services-list__item">
            <label class="service-element" data-id = "refrigerator">
              <input
               class="checkbox"
              type="checkbox"
              />
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text">Холодильник</span> -&nbsp; <span class="service-element__accent" data-value="40">40zł</span></span>
            </label>
            <div class="data-order__wrap wrap--service isHidden">
              <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus" data-type="minus"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
                aria-label=" Зменшити кількість "
              >
                <use href="./images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value service-quantity" data-name = "refrigerator">1</span>
            
            <button type="button" class="control-quantity-btn control-quantity-btn--plus" data-type="plus">
              <svg
                class="icon--plus"
                width="35"
                height="35"
                aria-label="Збільшити кількість"
              >
                <use href="./images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
          <li class="add-services-list__item">
            <label class="service-element" data-id = "plate">
              <input
               class="checkbox"
              type="checkbox"
              />
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text">Плита</span> -&nbsp; <span class="service-element__accent" data-value="35">35zł</span></span>
            </label>
            <div class="data-order__wrap wrap--service isHidden">
              <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus" data-type="minus"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
                aria-label=" Зменшити кількість "
              >
                <use href="./images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value service-quantity" data-name = "plate">1</span>
            
            <button type="button" class="control-quantity-btn control-quantity-btn--plus" data-type="plus">
              <svg
                class="icon--plus"
                width="35"
                height="35"
                aria-label="Збільшити кількість"
              >
                <use href="./images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
          <li class="add-services-list__item">
            <label class="service-element" data-id = "officeChair">
              <input
               class="checkbox"
              type="checkbox"
              />
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text">Хімчистка офісних стільців</span> -&nbsp; <span class="service-element__accent" data-value="20">20zł</span></span>
            </label>
            <div class="data-order__wrap wrap--service isHidden">
              <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus" data-type="minus"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
                aria-label=" Зменшити кількість "
              >
                <use href="./images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value service-quantity" data-name = "officeChair">1</span>
            
            <button type="button" class="control-quantity-btn control-quantity-btn--plus" data-type="plus">
              <svg
                class="icon--plus"
                width="35"
                height="35"
                aria-label="Збільшити кількість"
              >
                <use href="./images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
          <li class="add-services-list__item">
            <label class="service-element" data-id = "sofaDry2x">
              <input
               class="checkbox"
              type="checkbox"
              />
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text">Хімчистка дивану 2х</span> -&nbsp; <span class="service-element__accent" data-value="109,99">109,99zł</span></span>
            </label>
            <div class="data-order__wrap wrap--service isHidden">
              <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus" data-type="minus"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
                aria-label=" Зменшити кількість "
              >
                <use href="./images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value service-quantity" data-name = "sofaDry2x">1</span>
            
            <button type="button" class="control-quantity-btn control-quantity-btn--plus" data-type="plus">
              <svg
                class="icon--plus"
                width="35"
                height="35"
                aria-label="Збільшити кількість"
              >
                <use href="./images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
          <li class="add-services-list__item">
            <label class="service-element" data-id = "sofaDry3x">
              <input
               class="checkbox"
              type="checkbox"
              />
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text">Хімчистка дивану 3х</span> -&nbsp; <span class="service-element__accent" data-value="129,99">129,99zł</span></span>
            </label>
            <div class="data-order__wrap wrap--service isHidden">
              <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus" data-type="minus"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
                aria-label=" Зменшити кількість "
              >
                <use href="./images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value service-quantity" data-name = "sofaDry3x">1</span>
            
            <button type="button" class="control-quantity-btn control-quantity-btn--plus" data-type="plus">
              <svg
                class="icon--plus"
                width="35"
                height="35"
                aria-label="Збільшити кількість"
              >
                <use href="./images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
          <li class="add-services-list__item">
            <label class="service-element" data-id = "sofaDry4x">
              <input
               class="checkbox"
              type="checkbox"
              />
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text">Хімчистка дивану 4х</span> -&nbsp; <span class="service-element__accent" data-value="149,99">149,99zł</span></span>
            </label>
            <div class="data-order__wrap wrap--service isHidden">
              <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus" data-type="minus"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
                aria-label="Зменшити кількість "
              >
                <use href="./images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value service-quantity" data-name = "sofaDry4x">1</span>
            
            <button type="button" class="control-quantity-btn control-quantity-btn--plus" data-type="plus">
              <svg
                class="icon--plus"
                width="35"
                height="35"
                aria-label="Збільшити кількість"
              >
                <use href="./images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
        </ul>

        
        <h4 class="form-title data-order__title">Доставимо ключі</h4>
        <ul class="data-order__btn-list">
          <li>
            <button
              class="option-button btn btn--light key-btn"
              type="button"
              id="take-keys-btn"
            >
            <span>Забрати ключі перед прибиранням</span>
           </button>
          </li>
          <li>
            <button
              class="option-button btn btn--light key-btn"
              type="button"
              id="give-keys-btn"
            > 
            <span> Доставити ключі після прибирання</span>
            </button>
          </li>
        </ul>

        <ul class="form__user-info list keys-address-block isHidden">
          <li class="form__item keys-address-block__take-item isHidden">
            <span class="form__wrap">
            <input
              class="form__input form__input--long-placeholder form__input--location"
              type="text"
              name="modalUserLocation"
              id="location-input"
              placeholder="Де забрати ключі?"
            />
            <svg
              class="form__icon icon form__icon--vertical-centered"
              width="24"
              height="24"
            >
              <use href="./images/sprite.svg#icon-location"></use>
            </svg>
            </span>
          </li>
          <li class="form__item keys-address-block__give-item isHidden">
            <span class="form__wrap">
              <input
                class="form__input form__input--long-placeholder form__input--location"
                type="text"
                name="modalUserLocation"
                id="location-input"
                placeholder="Куди доставити ключі?"
              />
              <svg
                class="form__icon icon form__icon--vertical-centered"
                width="24"
                height="24"
              >
                <use href="./images/sprite.svg#icon-location"></use>
              </svg>
            </span>
          </li>
        </ul>
        

<h4 class="form-title">Ваші дані</h4>
    <form class="subscr__form form">
      <include src="./partials/user-order-data.html"></include>
    </form>

      </div>
      <div class="office-calc__block full-order-table">
        <div class="table__header table__block">
          <span>Послуга</span>
          <span>Вартість</span>
        </div>
        <ul class="table__data">
          <li class="table__item table__block">
            <span>Площа: <span class="square-value square-value-total">1</span> м²</span>
            <span class="service-value" data-service="square">2zł</span> 
          </li>
        </ul>
        <div class="table__sum table__block">
          <span>Вартість</span>
          <span class="total-order-value">2zł</span>
        </div>
        <button class="action-btn btn calc-btn" type="submit">
          Замовити прибирання
        </button>
      </div>
      <div class="discount" id="office-calc-discount">
        <span class="discount__value">-10%</span>
        <span class="discount__text">на перше прибирання!</span>
        <span class="discount__remark">
          *вкажіть що це ваше перше замовлення у полі з коментарем
        </span>
      </div>
    </div>

    <div class="cleaning__banner banner banner--office">
      <h3 class="info-block__title info-block__title--white">
        Не пропусти знижку на перше прибирання <span>-10%!</span>
      </h3>
      <p class="info-block__text">
        Вкажіть у полі “Ваш коментар”, що це ваше перше замовлення і ми
        повернемо вам 10% від суми прибирання!
      </p>
      <a href="#office-calc-discount"
        ><button class="hero__btn action-btn btn btn--light" type="button">
          Отримати знижку 10%
        </button></a
      >
    </div>
    <include src="./partials/company-features.html"></include>
    <a href="#office-calc-block" class="cleaning__order-link"
      ><button class="cleaning__order-btn action-btn btn" type="button">
        Замовити прибирання
      </button></a
    >
  </div>
</section>
