<section class="section section--buildings">
  <div class="container">
    <h2 class="section__title title">В яких приміщеннях ми прибираємо?</h2>
    <ul class="block-wrapper buildings__list">
      <li class="buildings__item">
        <div class="buildings__icon-wrap">
          <img
            src="./images/buildings/office@1x.png"
            srcset="
              ./images/buildings/office@1x.png 1x,
              ./images/buildings/office@2x.png 2x
            "
            alt="Офіс"
          />
        </div>
      <h4 class="block__title buildings__text">В офісах</з>
    </li>
    <li class="buildings__item">
      <div class="buildings__icon-wrap">
          <img
            src="./images/buildings/caffee@1x.png"
            srcset="
              ./images/buildings/caffee@1x.png 1x,
              ./images/buildings/caffee@2x.png 2x
            "
            alt="Ресторан"
          />
        </div>
      <h4 class="block__title buildings__text">В ресторанах</h4>
    </li>
    <li class="buildings__item">
      <div class="buildings__icon-wrap">
          <img
            src="./images/buildings/shop@1x.png"
            srcset="
              ./images/buildings/shop@1x.png 1x,
              ./images/buildings/shop@2x.png 2x
            "
            alt="Магазин"
          />
        </div>
      <h4 class="block__title buildings__text">В магазинах</h4>
    </li>
    </ul>

    
</section>
