<section class="section section--dark-background section--benefits-expanded">
  <div class="container">
    <h2 class="section__title visually-hidden">Особливості</h2>
    <ul class="features">
      <li class="features__item features__item--benefits">
        <div class="features__image-wrap">
          <picture class="features__photo">
            <source
              srcset="
                ./images/benefits/tablet/subscription@1x.png 1x,
                ./images/benefits/tablet/subscription@2x.png 2x
              "
              media="(max-width: 1439px)"
            />
            <source
              srcset="
                ./images/benefits/desktop/subscription@1x.png 1x,
                ./images/benefits/desktop/subscription@2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <img
              class="features__photo"
              src="./images/benefits/tablet/subscription@1x.png"
              alt="Долари та центи"
            />
          </picture>
        </div>
        <h3 class="features__title">Бюджетна підписка</h3>
        <p class="features__desc">
          Вартість місячної підписки всього <span>399zł.</span> Вона включає 2
          прибирання на місяць.
        </p>
      </li>

      <li class="features__item features__item--benefits">
        <div class="features__image-wrap">
          <picture class="features__photo">
            <source
              srcset="
                ./images/benefits/tablet/chemistry@1x.png 1x,
                ./images/benefits/tablet/chemistry@2x.png 2x
              "
              media="(max-width: 1439px)"
            />
            <source
              srcset="
                ./images/benefits/desktop/chemistry@1x.png 1x,
                ./images/benefits/desktop/chemistry@2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <img
              class="features__photo"
              src="./images/benefits/tablet/chemistry@1x.png"
              alt="Знак безпеки"
            />
          </picture>
        </div>
        <h3 class="features__title">Безпечна хімія</h3>
        <p class="features__desc">
          У прибиранні ми використовуємо лише якісну та не агресивну хімію
          <span>KIEHL</span> та <span>Pomoc Domowa</span>.
        </p>
      </li>

      <li class="features__item features__item--benefits">
        <div class="features__image-wrap">
          <picture class="features__photo">
            <source
              srcset="
                ./images/benefits/tablet/technic@1x.png 1x,
                ./images/benefits/tablet/technic@2x.png 2x
              "
              media="(max-width: 1439px)"
            />
            <source
              srcset="
                ./images/benefits/desktop/technic@1x.png 1x,
                ./images/benefits/desktop/technic@2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <img
              class="features__photo"
              src="./images/benefits/tablet/technic@1x.png"
              alt="Пилосос"
            />
          </picture>
        </div>
        <h3 class="features__title">Професійна техніка</h3>
        <p class="features__desc">
          Наші головні помічники у роботі - це техніка <span>KARCHER!</span>Вони
          забезпечують дійсно “кристальне” прибирання.
        </p>
      </li>

      <li class="features__item features__item--benefits">
        <div class="features__icon-wrap">
          <div class="features__image-wrap">
            <picture class="features__photo">
              <source
                srcset="
                  ./images/benefits/tablet/quality@1x.png 1x,
                  ./images/benefits/tablet/quality@2x.png 2x
                "
                media="(max-width: 1439px)"
              />
              <source
                srcset="
                  ./images/benefits/desktop/quality@1x.png 1x,
                  ./images/benefits/desktop/quality@2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <img
                class="features__photo"
                src="./images/benefits/tablet/quality@1x.png"
                alt="Знак якості"
              />
            </picture>
          </div>
        </div>

        <h3 class="features__title">Контроль якості</h3>
        <p class="features__desc">
          Ми завжди <span>запитуємо відгук</span> клієнта. Якщо ви не задоволені
          прибиранням —ми одразу приїдемо і все виправимо!
        </p>
      </li>
    </ul>
  </div>
</section>
