<div class="month-subsr-block">
  <div class="info-block info-block--first">
    <h3 class="info-block__title">
      Місячна підписка на клінінг для будинку чи квартири
    </h3>
    <ul class="info-block__list">
      <li class="info-block__item text text--marked">
        1 генеральне прибирання
      </li>
      <li class="info-block__item text text--marked">1 базове прибирання</li>
    </ul>

    <p class="text text--accent">
      Хімчистка стільців, диванів, матраців, подушок та крісел раз у 6 місяців у
      <span>подарунок</span>!
    </p>
  </div>
  <div class="info-block info-block--second info-block--with-padding">
    <p class="info-block__accent">399zł</p>
    <p class="text text--secondary">
      1 генеральне прибирання + 1 підтримуюче прибирання
    </p>
    <button
      class="cleaning__btn btn"
      type="button"
      data-subscription-modal-open
    >
      Замовити прибирання
    </button>
  </div>
</div>
