<div class="theme-toggler-wrap theme-toggler-wrap--dark">
  <div class="theme__circle theme__circle--light">
    <div class="circle-item circle__sun"></div>
    <div class="circle__ray"></div>
    <div class="circle__ray"></div>
    <div class="circle__ray"></div>
    <div class="circle__ray"></div>
    <div class="circle__ray"></div>
    <div class="circle__ray"></div>
    <div class="circle__ray"></div>
    <div class="circle__ray"></div>
  </div>
  <div class="theme__circle theme__circle--dark">
    <div class="circle-item circle__moon"></div>
  </div>
</div>
