<div class="work-shedule">
  <h3>Графік роботи</h3>
  <ul class="work-shedule__list">
    <li class="work-shedule__item">
      <ul class="days-list">
        <li class="days-list__item">Пн</li>
        <li class="days-list__item">Вт</li>
        <li class="days-list__item">Ср</li>
        <li class="days-list__item">Чт</li>
        <li class="days-list__item">Пт</li>
      </ul>
      <p>7 <span>00</span> - 21 <span>00</span></p>
    </li>
    <li class="work-shedule__item">
      <ul class="days-list">
        <li class="days-list__item">Сб</li>
        <li class="days-list__item">Нд</li>
      </ul>
      <p>10 <span>00</span> - 19 <span>00</span></p>
    </li>
  </ul>
</div>
