<section class="section section--dark-background cleaning">
  <div class="container">
    <h2 class="section__title">Пакет прибирання на місяць</h2>
    <p class="cleaning__text">
      Підписка діє протягом 30 днів та лише за однією адресою. При закінченні
      терміну дія підписки згорає. Працюємо лише по місту Лодзь
    </p>
    <div class="cleaning__info">
      <div class="info-block info-block--first">
        <h3 class="info-block__title">
          Місячна підписка на клінінг для будинку чи квартири
        </h3>
        <p class="info-block__text">1 генеральне прибирання</p>
        <p class="info-block__text">1 базове прибирання</p>
        <p class="info-block__text info-block__text--accent">
          Хімчистка стільців, диванів, матраців, подушок та крісел раз у 6
          місяців у <span>подарунок</span>!
        </p>
      </div>
      <div class="info-block info-block--second"></div>
    </div>
  </div>
</section>
