<div class="cleaning__advantages">
  <div class="info-block info-block--advantages">
    <h3 class="info-block__title info-block__title--advantages">
      Comfort Group допоможе вам організувати та підтримувати чистоту у вашому
      будинку
    </h3>
    <ul class="info-block__list info-block__list--advantages">
      <li class="info-block__item text text--marked">
        Проведемо прибирання квартири перед приходом гостей.
      </li>
      <li class="info-block__item text text--marked">
        Приберемо наслідки гучної вечірки.
      </li>
      <li class="info-block__item text text--marked">
        Зробимо генеральне прибирання і позбавимо вас необхідності витрачати на
        це свій вільний час.
      </li>
      <li class="info-block__item text text--marked">
        Будемо підтримувати чистоту у домі навіть коли ви на роботі!
      </li>
    </ul>
  </div>
</div>
<ul class="features features--cleaning">
  <li class="features__item features__item--cleaning">
    <div class="features__image-wrap">
      <picture class="features__photo">
        <source
          srcset="
            ./images/benefits/tablet/technic@1x.png 1x,
            ./images/benefits/tablet/technic@2x.png 2x
          "
          media="(max-width: 1439px)"
        />
        <source
          srcset="
            ./images/benefits/desktop/technic@1x.png 1x,
            ./images/benefits/desktop/technic@2x.png 2x
          "
          media="(min-width: 1440px)"
        />
        <img
          class="features__photo"
          src="./images/benefits/tablet/technic@1x.png"
          alt="Пилосос"
        />
      </picture>
    </div>
    <h3 class="features__title">Техніка KARCHER</h3>
    <p class="features__desc">
      <span>KARCHER</span> — це професійна техніка, що забезпечує ретельне та
      якісне прибирання. Весь інвентар та техніки наші клінери приносять з
      собою!
    </p>
  </li>
  <li class="features__item features__item--cleaning">
    <div class="features__image-wrap">
      <picture class="features__photo">
        <source
          srcset="
            ./images/cleaning-package/tablet/alergic@1x.png 1x,
            ./images/cleaning-package/tablet/alergic@2x.png 2x
          "
          media="(max-width: 1439px)"
        />
        <source
          srcset="
            ./images/cleaning-package/desktop/alergic@1x.png 1x,
            ./images/cleaning-package/desktop/alergic@2x.png 2x
          "
          media="(min-width: 1440px)"
        />
        <img
          class="features__photo"
          src="./images/benefits/tablet/subscription@1x.png"
          alt="Миючий засіб"
        />
      </picture>
    </div>
    <h3 class="features__title">Гіпоалергенні миючі засоби</h3>
    <p class="features__desc">
      У прибиранні ми використовуємо лише якісну та не агресивну хімію
      <span>KIEHL</span> та <span>Pomoc Domowa</span>. Наші миючі засоби не
      мають різких запахів та гіпоалергенні
    </p>
  </li>

  <li class="features__item features__item--cleaning">
    <div class="features__icon-wrap">
      <div class="features__image-wrap">
        <picture class="features__photo">
          <source
            srcset="
              ./images/benefits/tablet/quality@1x.png 1x,
              ./images/benefits/tablet/quality@2x.png 2x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              ./images/benefits/desktop/quality@1x.png 1x,
              ./images/benefits/desktop/quality@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            class="features__photo"
            src="./images/benefits/tablet/quality@1x.png"
            alt="Знак якості"
          />
        </picture>
      </div>
    </div>

    <h3 class="features__title">Досвідчений персонал</h3>
    <p class="features__desc">
      Всі наші клінери спеціально підготовленні та
      <span>пройшли навчання</span> від нашої компанії. Ми збираємо відгуки про
      кожного працівника та
      <span>контролюємо їх роботу.</span>
    </p>
  </li>
</ul>
