<section
  class="relative-positionedsection section--dark-background section--error"
>
  <div class="container hero__container relative-positioned">
    <div class="hero__info">
      <h1 class="hero__title title--error">404</h1>
      <p class="hero__text">
        Нажаль посилання не правильне, або цієї сторінки не існує. Будь ласка
        перейдіть на Головну сторінку нашого сайту.
      </p>

      <a href="#order-cleaning-block"
        ><button
          class="hero__btn action-btn btn back-to-home-btn"
          type="button"
        >
          На головну
        </button></a
      >
    </div>
    <div class="image-success-thumb">
      <div class="image--success"></div>
    </div>
  </div>
</section>
