<header class="header">
  <div class="container header__container">
    <nav class="nav">
      <a href="./index.html" class="nav__logo">
        <svg class="nav__logo-img" width="54" height="68" aria-label="логотип">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="nav__list">
        <li class="nav__item">
          <a href="./" class="nav__link nav__link--current">Дім</a>
        </li>
        <li class="nav__item">
          <a href="./office.html" class="nav__link">Офіс</a>
        </li>
      </ul>

      <ul class="menu">
        <li class="menu__item">
          <a href="./afterRepair.html" class="menu__link">Після ремонту</a>
        </li>
        <li class="menu__item">
          <a href="./calculator.html" class="menu__link">Розрахунок вартості</a>
        </li>
      </ul>
    </nav>
    <div class="contacts">
      <ul class="socials contacts__socials">
        <li class="socials__item">
          <a
            class="socials__link"
            href="#"
            aria-label="Посилання на Інстраграм компанії"
          >
            <svg
              class="socials__icon socials__inst-icon"
              width="40"
              height="40"
            >
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link"
            href="#"
            aria-label="Посилання на Фейсбук компанії"
            ><svg
              class="socials__icon socials__facebook-icon"
              width="40"
              height="40"
            >
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link"
            href="#"
            aria-label="Посилання на Вотсап компанії"
            ><svg
              class="socials__icon socials__whatsApp-icon"
              width="40"
              height="40"
            >
              <use href="./images/sprite.svg#icon-whatsApp"></use>
            </svg>
          </a>
        </li>
      </ul>
      <a href="tel:+48534517801" class="tel-btn">+48 534 517 801</a>
    </div>

    <button
      type="button"
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu-toggle__icon icon" width="24" height="18">
        <use href="./images/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
  <div class="aside-menu">
    <button class="menu-toggle js-close-menu" type="button">
      <svg class="menu__icon-close" width="42" height="42">
        <use href="./images/sprite.svg#icon-plus"></use>
      </svg>
    </button>
    <ul class="aside-menu__about">
      <li class="about__item aside-menu__item">
        <a href="#" class="about__link aside-menu__link">Послуги</a>
      </li>
      <li class="about__item aside-menu__item">
        <a href="#" class="about__link aside-menu__link">Розрахунок вартості</a>
      </li>
      <li class="about__item aside-menu__item">
        <a href="#" class="about__link aside-menu__link">Актуальні запитання</a>
      </li>
      <li class="about__item aside-menu__item">
        <a href="#" class="about__link aside-menu__link">Контакти</a>
      </li>
    </ul>
    <div class="contacts">
      <ul class="socials contacts__socials">
        <li
          class="socials__item socials__item--white-bg socials__item--aside-menu"
        >
          <a
            class="socials__link"
            href="#"
            aria-label="Посилання на Інстраграм компанії"
          >
            <svg
              class="socials__icon socials__inst-icon"
              width="40"
              height="40"
            >
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li
          class="socials__item socials__item--white-bg socials__item--aside-menu"
        >
          <a
            class="socials__link"
            href="#"
            aria-label="Посилання на Фейсбук компанії"
            ><svg
              class="socials__icon socials__facebook-icon"
              width="40"
              height="40"
            >
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li
          class="socials__item socials__item--white-bg socials__item--aside-menu"
        >
          <a
            class="socials__link"
            href="#"
            aria-label="Посилання на Вотсап компанії"
            ><svg
              class="socials__icon socials__whatsApp-icon"
              width="40"
              height="40"
            >
              <use href="./images/sprite.svg#icon-whatsApp"></use>
            </svg>
          </a>
        </li>
      </ul>
      <a
        href="tel:+48534517801"
        class="tel-btn tel-btn--white-bg tel-btn--aside--menu"
        >+48 534 517 801</a
      >
    </div>
  </div>
</header>
