<section class="hero section section--dark-background section--hero">
  <div class="container hero__container">
    <div class="hero__info">
      <h1 class="hero__title">
        <span>Приберемо</span> у вашому будинку чи квартирі у Лодзі всього
        <span>за 399zł</span>
      </h1>
      <p class="hero__text">
        Клінінгова компанія Comfort Group пропонує акційну підписку на послуги
        клінінгу у Лодзі всього за <span>399zł</span>. Підписка включає
        прибирання в кімнатах, санвузлі та кухні.
      </p>
      <a href="#order-cleaning-block"
        ><button class="hero__btn action-btn btn" type="button">
          Замовити прибирання
        </button></a
      >
    </div>
    <div class="container--thumb-container">
      <div class="hero__image"></div>
    </div>
  </div>
</section>
