<section class="section section--dark-background" id="office-calc-block">
  <div class="container order-cleaning__container office-calc">
    <h2 class="section__title title--office-calc">
      Розрахунок вартості прибирання
    </h2>
    <div class="office-calc__wrap">
      <div class="form--subscription office-calc__block data-order">
        <include src="./partials/order-form.html"></include>
      </div>
      <div class="office-calc__block full-order-table">
        <div class="table__header table__block">
          <span>Послуга</span>
          <span>Вартість</span>
        </div>
        <ul class="table__data">
          <li class="table__item table__block">
            <span>Площа: 1 м²</span>
            <span id="squareValue" class="service-value">2zł</span>
          </li>
          <li class="table__item table__block">
            <span>Миття вікон (стандартні)</span>
            <span id="windowStandard" class="service-value">35zł</span>
          </li>
        </ul>
        <div class="table__sum table__block">
          <span>Вартість</span>
          <span class="service-value">37zł</span>
        </div>
        <button class="action-btn btn calc-btn" type="submit">
          Замовити прибирання
        </button>
      </div>
      <div class="discount">
        <span class="discount__value">-10%</span>
        <span class="discount__text">на перше прибирання!</span>
        <span class="discount__remark">
          *вкажіть що це ваше перше замовлення у полі з коментарем
        </span>
      </div>
    </div>

    <div class="cleaning__banner banner banner--office">
      <h3 class="info-block__title info-block__title--white">
        Не пропусти знижку на перше прибирання <span>-10%!</span>
      </h3>
      <p class="info-block__text">
        Вкажіть у полі “Ваш коментар”, що це ваше перше замовлення і ми
        повернемо вам 10% від суми прибирання!
      </p>
      <a href="#order-cleaning-block"
        ><button class="hero__btn action-btn btn btn--light" type="button">
          Отримати знижку 10%
        </button></a
      >
    </div>
    <include src="./partials/company-features.html"></include>
    <a href="#order-cleaning-block" class="cleaning__order-link"
      ><button class="cleaning__order-btn action-btn btn" type="button">
        Замовити прибирання
      </button></a
    >
  </div>
</section>
