<section
  class="hero section section--dark-background section--hero office-hero"
>
  <div class="container hero__container">
    <div class="hero__info">
      <h1 class="hero__title">Прибирання офісів та ресторанів у Лодзі</h1>
      <p class="hero__text text--office">
        Професійний клінінг для офісних приміщень та ресторанів від компанії
        Comfort Group. Попередня вартість прибирання <span>2zł за м²</span>.
      </p>
      <ul class="info-block__list office-hero__list">
        <li class="info-block__item info-block__text info-block__text--marked">
          Офісні приміщення
        </li>
        <li class="info-block__item info-block__text info-block__text--marked">
          Магазини
        </li>
        <li class="info-block__item info-block__text info-block__text--marked">
          Ресторани
        </li>
      </ul>
      <ul class="hero__button-list">
        <li class="button-list__item">
          <a href="#order-cleaning-block"
            ><button class="hero__btn action-btn btn" type="button">
              Замовити прибирання
            </button></a
          >
        </li>
        <li class="button-list__item">
          <a href="#order-cleaning-block"
            ><button class="hero__btn action-btn btn btn--light" type="button">
              Отримати знижку 10%
            </button></a
          >
        </li>
      </ul>
    </div>
    <div class="image-office-thumb">
      <div class="image--office"></div>
    </div>
  </div>
</section>
