<section class="section section--dark-background" id="office-calc-block">
  <div class="container order-cleaning__container office-calc">
    <h2 class="section__title title--office-calc">
      Розрахунок вартості прибирання
    </h2>
    <div class="office-calc__wrap">
      <div class="form--subscription office-calc__block data-order">
        <h4 class="form-title data-order__title">Вид приміщення</h4>
        <ul class="buildings">
          <li
            class="buildings__element buildings__element--current"
            id="building-1"
          >
            Офіс
          </li>
          <li class="buildings__element" id="building-2">Магазин</li>
          <li class="buildings__element" id="building-3">Ресторан</li>
        </ul>
        <h4 class="form-title data-order__title">Оберіть площу приміщення</h4>
        <div class="data-order__wrap data-order__wrap--square">
          <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
                aria-label=" Зменшити кількість квадратних метрів"
              >
                <use href="./images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text"
              ><span class="quantity-block__value">1</span> м²</span
            >
            <button type="button" class="control-quantity-btn">
              <svg
                class="icon--plus"
                width="35"
                height="35"
                aria-label="Збільшити кількість квадратних метрів"
              >
                <use href="./images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
          </div>
          <span class="data-order__text">2zł за м²</span>
        </div>
        <h4 class="form-title data-order__title">Додаткові послуги</h4>
        <ul class="data-order__add-services-list">
          <li class="add-services-list__item">
            <label class="service-element">
              <input
               class="checkbox"
              type="checkbox"
              />
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text"></span>Миття вікон (стандартні) -&nbsp; <span class="service-element__accent">35zł</span></span>
            </label>
            <div class="data-order__wrap data-order__wrap--service">
              <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
                aria-label=" Зменшити кількість "
              >
                <use href="./images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value">1</span>
            
            <button type="button" class="control-quantity-btn">
              <svg
                class="icon--plus"
                width="35"
                height="35"
                aria-label="Збільшити кількість"
              >
                <use href="./images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
          <li class="add-services-list__item">
            <label class="service-element">
              <input
               class="checkbox"
              type="checkbox"
              />
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text"></span>Миття вікон (до підлоги) -&nbsp; <span class="service-element__accent">40zł</span></span>
            </label>
            <div class="data-order__wrap data-order__wrap--service">
              <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
                aria-label=" Зменшити кількість "
              >
                <use href="./images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value">1</span>
            
            <button type="button" class="control-quantity-btn">
              <svg
                class="icon--plus"
                width="35"
                height="35"
                aria-label="Збільшити кількість"
              >
                <use href="./images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
          <li class="add-services-list__item">
            <label class="service-element">
              <input
               class="checkbox"
              type="checkbox"
              />
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text"></span>Мікрохвильовка  -&nbsp; <span class="service-element__accent">15zł</span></span>
            </label>
            <div class="data-order__wrap data-order__wrap--service">
              <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
                aria-label=" Зменшити кількість "
              >
                <use href="./images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value">1</span>
            
            <button type="button" class="control-quantity-btn">
              <svg
                class="icon--plus"
                width="35"
                height="35"
                aria-label="Збільшити кількість"
              >
                <use href="./images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
          <li class="add-services-list__item">
            <label class="service-element">
              <input
               class="checkbox"
              type="checkbox"
              />
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text"></span>Холодильник -&nbsp; <span class="service-element__accent">40zł</span></span>
            </label>
            <div class="data-order__wrap data-order__wrap--service">
              <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
                aria-label=" Зменшити кількість "
              >
                <use href="./images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value">1</span>
            
            <button type="button" class="control-quantity-btn">
              <svg
                class="icon--plus"
                width="35"
                height="35"
                aria-label="Збільшити кількість"
              >
                <use href="./images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
          <li class="add-services-list__item">
            <label class="service-element">
              <input
               class="checkbox"
              type="checkbox"
              />
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text"></span>Плита -&nbsp; <span class="service-element__accent">35zł</span></span>
            </label>
            <div class="data-order__wrap data-order__wrap--service">
              <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
                aria-label=" Зменшити кількість "
              >
                <use href="./images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value">1</span>
            
            <button type="button" class="control-quantity-btn">
              <svg
                class="icon--plus"
                width="35"
                height="35"
                aria-label="Збільшити кількість"
              >
                <use href="./images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
          <li class="add-services-list__item">
            <label class="service-element">
              <input
               class="checkbox"
              type="checkbox"
              />
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text"></span>Хімчистка офісних стільців -&nbsp; <span class="service-element__accent">20zł</span></span>
            </label>
            <div class="data-order__wrap data-order__wrap--service">
              <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
                aria-label=" Зменшити кількість "
              >
                <use href="./images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value">1</span>
            
            <button type="button" class="control-quantity-btn">
              <svg
                class="icon--plus"
                width="35"
                height="35"
                aria-label="Збільшити кількість"
              >
                <use href="./images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
          <li class="add-services-list__item">
            <label class="service-element">
              <input
               class="checkbox"
              type="checkbox"
              />
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text"></span>Хімчистка дивану 2х -&nbsp; <span class="service-element__accent">109,99zł</span></span>
            </label>
            <div class="data-order__wrap data-order__wrap--service">
              <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
                aria-label=" Зменшити кількість "
              >
                <use href="./images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value">1</span>
            
            <button type="button" class="control-quantity-btn">
              <svg
                class="icon--plus"
                width="35"
                height="35"
                aria-label="Збільшити кількість"
              >
                <use href="./images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
          <li class="add-services-list__item">
            <label class="service-element">
              <input
               class="checkbox"
              type="checkbox"
              />
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text"></span>Хімчистка дивану 3х -&nbsp; <span class="service-element__accent">129,99zł</span></span>
            </label>
            <div class="data-order__wrap data-order__wrap--service">
              <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
                aria-label=" Зменшити кількість "
              >
                <use href="./images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value">1</span>
            
            <button type="button" class="control-quantity-btn">
              <svg
                class="icon--plus"
                width="35"
                height="35"
                aria-label="Збільшити кількість"
              >
                <use href="./images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
          <li class="add-services-list__item">
            <label class="service-element">
              <input
               class="checkbox"
              type="checkbox"
              />
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text"></span>Хімчистка дивану 4х -&nbsp; <span class="service-element__accent">149,99zł</span></span>
            </label>
            <div class="data-order__wrap data-order__wrap--service">
              <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
                aria-label=" Зменшити кількість "
              >
                <use href="./images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value">1</span>
            
            <button type="button" class="control-quantity-btn">
              <svg
                class="icon--plus"
                width="35"
                height="35"
                aria-label="Збільшити кількість"
              >
                <use href="./images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
        </ul>

        
        <h4 class="form-title data-order__title">Доставимо ключі</h4>
        <ul class="data-order__btn-list">
          <li>
            <button
              class="option-button btn btn--light"
              type="button"
              id="take-keys-btn"
            >
            <span>Забрати ключі перед прибиранням</span>
           </button>
          </li>
          <li>
            <button
              class="option-button btn btn--light"
              type="button"
              id="give-keys-btn"
            > 
            <span> Доставити ключі після прибирання</span>
            </button>
          </li>
        </ul>

        <include src="./partials/order-form.html"></include>
      </div>
      <div class="office-calc__block full-order-table">
        <div class="table__header table__block">
          <span>Послуга</span>
          <span>Вартість</span>
        </div>
        <ul class="table__data">
          <li class="table__item table__block">
            <span>Площа: 1 м²</span>
            <span id="squareValue" class="service-value">2zł</span>
          </li>
          <li class="table__item table__block">
            <span>Миття вікон (стандартні)</span>
            <span id="windowStandard" class="service-value">35zł</span>
          </li>
        </ul>
        <div class="table__sum table__block">
          <span>Вартість</span>
          <span class="service-value">37zł</span>
        </div>
        <button class="action-btn btn calc-btn" type="submit">
          Замовити прибирання
        </button>
      </div>
      <div class="discount">
        <span class="discount__value">-10%</span>
        <span class="discount__text">на перше прибирання!</span>
        <span class="discount__remark">
          *вкажіть що це ваше перше замовлення у полі з коментарем
        </span>
      </div>
    </div>

    <div class="cleaning__banner banner banner--office">
      <h3 class="info-block__title info-block__title--white">
        Не пропусти знижку на перше прибирання <span>-10%!</span>
      </h3>
      <p class="info-block__text">
        Вкажіть у полі “Ваш коментар”, що це ваше перше замовлення і ми
        повернемо вам 10% від суми прибирання!
      </p>
      <a href="#order-cleaning-block"
        ><button class="hero__btn action-btn btn btn--light" type="button">
          Отримати знижку 10%
        </button></a
      >
    </div>
    <include src="./partials/company-features.html"></include>
    <a href="#order-cleaning-block" class="cleaning__order-link"
      ><button class="cleaning__order-btn action-btn btn" type="button">
        Замовити прибирання
      </button></a
    >
  </div>
</section>
