<section class="section section--dark-background section--no-padding-top order">
  <div class="container order__container">
    <div class="order__banner banner">
      <h3
        class="info-block__title info-block__title--white info-block__title--centered info-block__title--order"
      >
        Досить витрачати свій вільний час на прибирання! Замовляйте
        <span>місячну підписку </span>на клінінг вашого дому!
      </h3>
      <div class="info-block info-block--second">
        <p class="info-block__accent info-block__accent--light">399zł</p>
        <p
          class="info-block__text info-block__text--secondary info-block__text--light"
        >
          1 генеральне прибирання + 1 підтримуюче прибирання
        </p>
        <button class="cleaning__btn btn btn--light" type="button">
          Замовити прибирання
        </button>
      </div>
    </div>
  </div>
</section>
