<section
  class="section section--dark-background section--questions section--no-padding-top"
>
  <div class="container">
    <h2 class="section__title title">Популярні запитання</h2>
    <div class="section__container questions__container">
      <include src="./partials/common/popular-questions-block.html"></include>
      <button
        class="btn action-btn order-btn btn--centered ask-btn"
        type="button"
        data-support-modal-open
      >
        Задати своє питання
      </button>
    </div>
  </div>
</section>
