<div class="backdrop backdrop--subscr backdrop--hidden" data-subscription-modal>
  <div class="modal form--subscription">
    <div class="subsc__wrapper">
      <div class="subscr__title-wrapper">
        <h3 class="subscr-modal__title">
          Місячна підписка на клінінг для будинку чи квартири
        </h3>
        <span class="subscr__accent">399zł</span>
      </div>
      <ul class="info-block__list subscr-modal__list">
        <li class="info-block__item info-block__text info-block__text--marked">
          1 генеральне прибирання
        </li>
        <li class="info-block__item info-block__text info-block__text--marked">
          1 підтримуюче прибирання
        </li>
      </ul>
      <p class="info-block__text info-block__text--accent subscr__text-accent">
        Хімчистка стільців, диванів, матраців, подушок та крісел раз у 6 місяців
        у
        <span>подарунок</span>!
      </p>
    </div>
    <include src="./partials/order-form.html"></include>

    <button class="close-modal-btn" type="button" data-subscription-modal-close>
      <svg class="close-modal-icon">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
