<section class="hero section section--dark-background section--success">
  <div class="container hero__container container--success">
    <div class="hero__info">
      <h1 class="hero__title title--success">
        Дякуємо за замовлення клінінгу!
      </h1>
      <p class="hero__text">
        Ми зв’яжемося з вами найближчим часом для підтвердження дати та часу
        клінінгу.
      </p>
      <p class="hero__text text--success">Слідкуйте за нами в соц. мережах!</p>
      <ul class="socials socials--success">
        <li class="socials__item">
          <a
            class="socials__link"
            href="#"
            aria-label="Посилання на Інстраграм компанії"
          >
            <svg
              class="socials__icon socials__inst-icon"
              width="40"
              height="40"
            >
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link"
            href="#"
            aria-label="Посилання на Фейсбук компанії"
            ><svg
              class="socials__icon socials__facebook-icon"
              width="40"
              height="40"
            >
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link"
            href="#"
            aria-label="Посилання на Вотсап компанії"
            ><svg
              class="socials__icon socials__whatsApp-icon"
              width="40"
              height="40"
            >
              <use href="./images/sprite.svg#icon-whatsApp"></use>
            </svg>
          </a>
        </li>
      </ul>
      <a href="#order-cleaning-block"
        ><button class="hero__btn action-btn btn" type="button">
          На головну
        </button></a
      >
    </div>
    <div class="image-thumb">
      <div class="image--success"></div>
    </div>
  </div>
</section>
