<div class="time-picker-wrap">
  <div class="time-picker__block">
    <div class="time-picker__hours">20</div>
    <div class="time-picker__separator">:</div>
    <div class="time-picker__minutes">00</div>
  </div>
  <div class="outer-circle">
    <div class="number">12</div>
    <div class="number">1</div>
    <div class="number">2</div>
    <div class="number">3</div>
    <div class="number">4</div>
    <div class="number">5</div>
    <div class="number">6</div>
    <div class="number">7</div>
    <div class="number">8</div>
    <div class="number">9</div>
    <div class="number">10</div>
    <div class="number">11</div>
    <div class="number">24</div>
    <div class="number">13</div>
    <div class="number">14</div>
    <div class="number">15</div>
    <div class="number">16</div>
    <div class="number">17</div>
    <div class="number">18</div>
    <div class="number">19</div>
    <div class="number active">20</div>
    <div class="number">21</div>
    <div class="number">22</div>
    <div class="number">23</div>
  </div>
</div>

<!-- <div class="inner-circle">
    <div class="second-number">13</div>
    <div class="second-number">14</div>
    <div class="second-number">15</div>
    <div class="second-number">16</div>
    <div class="second-number">17</div>
    <div class="second-number">18</div>
    <div class="second-number">19</div>
    <div class="second-number">20</div>
    <div class="second-number">21</div>
    <div class="second-number">22</div>
    <div class="second-number">23</div>
    <div class="second-number">24</div>
  </div> -->
