<section class="section section--trust section--dark-background ">
  <div class="container ">
    <div class="trust__container"><h2 class="section__title title">Чому нам можна довіряти</h2>
    <ul class="block-wrapper block-wrapper--trust">
      <li class="section__block">
      <p class="block__number">01</p>
      <h4 class="block__title">Індивідуальний підхід</h4>
      <p class="block__text">Ми знаємо що немає однаково забруднених приміщень. Тому до кожного клінінгу підходимо індивідуально. Ми приводимо приміщення до “кришталевої” чистоти не залежно від рівня забруднення.</p>
    </li>
    <li class="section__block">
      <p class="block__number">02</p>
      <h4 class="block__title">Стежимо за якістю прибирання</h4>
      <p class="block__text">Після кожного прибирання ми збираємо у клієнтів чесні відгуки про роботу клінерів. 
У разі якщо клієнт не задоволенний якістю прибирання ми проводимо повторне прибирання або повністю повертаємо кошти.</p>
    </li>
    <li class="section__block">
      <p class="block__number">03</p>
      <h4 class="block__title">Професійна техніка та безпечна хімія</h4>
      <p class="block__text">Техніка бренду <span>“KARCHER”</span> забезпечує ретельне та якісне прибирання. А миючі засоби німецького бренду <span>“KIEHL”</span> мають високу очисну здатність і впораються навіть з складними забрудненнями. Вся наша хімія не має різких запахів та гіпоалергенна.</p>
    </li>
    <li class="section__block">
      <p class="block__number">04</p>
      <h4 class="block__title">Чесні ціни доступні кожному</h4>
      <p class="block__text">Вартість наших послуг формується по прозорій схемі. Клієнти Comfort Group можуть заощадити замовивши акційну місячну підписку або скориставшись нашими акціями.</p>
    </li>
    </ul></div>
    
    
</section>