.btn {
  border: 2px solid transparent;
  border-radius: 50px;
  background-color: $main-accent-color;
  color: $primary-white-color;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.33;
  transition: color $cubic, background-color $cubic, border $cubic;

  &:hover,
  &:focus {
    border: 2px solid $main-accent-color;
    background-color: $primary-white-color;
    color: $main-accent-color;
  }

  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.39;
  }
}


.btn--light {
  border: 2px solid $main-accent-color;
  background-color: $primary-white-color;
  color: $main-accent-color;
  &:hover,
  &:focus {
      background-color: $second-additional-bg-color;
  }
}

.tel-btn {
    transition: color $cubic, background-color $cubic;
    line-height: 1.19;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $main-accent-color;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50px;
    padding: 16px 24px;
    background-color: transparent;
    border: 2px solid $main-accent-color;
  

  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.39;
  }

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $main-accent-color;
  }

}

.tel-btn--white-bg {
  background-color:$primary-white-color;
}
.tel-btn--aside--menu {
  border: 1px solid $main-accent-color;
  @media screen and (max-width: 1439px) {
    line-height: 1.38;
  }
padding: 17px 25px;
  &:hover,
  &:focus {
    background-color: $light-accent-color;
    border: 1px solid $primary-white-color;
  }
}

.action-btn {
  padding: 15px 50px;

  @media screen and (min-width: 768px) {
    padding: 15px 23px;
  }

  @media screen and (min-width: 1440px) {
    padding: 17px 25px;
  }
}

.cleaning__btn {
  font-size: 16px;
  line-height: 1.38;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;
  padding: 15px 50px;

  @media screen and (min-width: 768px) {
    width: 400px;
    padding: 15px 23px;
  }

  @media screen and (min-width: 1440px) {
    padding: 17px 25px;
    font-size: 18px;
    line-height: 1.39;
  }
}

.order-btn,
.reviews__btn {

  @media screen and (max-width: 1439px) {
    padding: 15px 23px;
    font-size: 16px;
    line-height: 1.38;
  }
}
 
.btn--centered {
  align-self: center;
    margin: 0 auto;
}

.cleaning__order-link {
  align-self: center;
  margin: 0 auto;
}


.reviews__btn {
  @media screen and (max-width: 767px) {
    min-width: 277px;
  }
  &:hover,
  &:focus {
    background-color: $second-additional-bg-color;
  }
}

.connection__btn {
  font-family: 'Inter', sans-serif;
  margin-top: 24px;
  margin-bottom: 24px;

  @media screen and (min-width: 1440px) {
    font-family: 'Open Sans', sans-serif;
    margin-top: 32px;
    margin-bottom: 13px;
  }
}

.section--success .hero__btn,.section--error .hero__btn  {
  @media screen and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 225px;
  }
}

.key-btn {
  background-image: url('../images/office-page/keys.png');
  background-size: 50px 50px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 92px;
  max-width: 312px;
  text-align: left;
  background-color: transparent;
}
    
#take-keys-btn.active,
#give-keys-btn.active,
.payment__btn.active {
  background-color: $main-accent-color;
  color: $primary-white-color;
}

.calc-btn {
  width: 100%;
  margin-top: 40px;
}

.office-order .calc-btn {
  margin-top: 0;
}

 #card-payment-btn {
   background-image: url('../images/subscr-modal/cards.png');
   background-size: 65px 50px;
   padding-top: 18px;
   padding-bottom: 18px;
   padding-left: 100px;
   max-width: 312px;
 }

 #cash-payment-btn {
   background-image: url('../images/subscr-modal/currency.png');
   background-size: 61px 50px;
   padding-top: 30.5px;
   padding-bottom: 30.5px;
   padding-left: 89px;

   @media screen and (min-width: 768px) {
     max-width: 200px;
   }
 }

 .form__submit-btn {
   @media screen and (max-width: 767px) {
     width: 100%;
   }

   @media screen and (min-width: 768px) {
     padding: 16px 84px;
   }
 }

 .ask-btn {
    margin-top: 48px;
    
      @media screen and (min-width: 768px) {
        margin-top: 56px;
      }
    
      @media screen and (min-width: 1440px) {
        margin-top: 83px;
      }
 }

 .time-picker__btn {
  position:absolute;
  bottom:0;
  left: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid $main-accent-color;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  color: $time-picker-tablo-color;
  background-color: $time-picker-color;
    cursor: pointer;
    transition: color $cubic, background-color $cubic;
  
    &:hover {
      color: $primary-white-color;
      background-color: $main-accent-color;
    }
 }