.btn {
  border: 2px solid transparent;
  border-radius: 50px;
  background-color: $main-accent-color;
  color: $primary-white-color;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.33;
  transition: color $cubic, background-color $cubic, border $cubic;

  &:hover,
  &:focus {
    border: 2px solid $main-accent-color;
    background-color: $primary-white-color;
    color: $main-accent-color;
  }

  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.39;
  }
}

.order-btn {
  padding: 15px 79px;

  @media screen and (min-width: 768px) {
    padding: 15px 23px;
  }

  @media screen and (min-width: 1440px) {
    padding: 17px 25px;
  }
}