.cleaning__text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
 
  @media screen and (min-width: 768px) {
    margin: 0 auto;
    max-width: 568px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 657px;
    font-size: 18px;
    line-height: 1.39;
  }
} 

.cleaning__info {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  background-color:$second-additional-bg-color;
  margin-top: 51px;
  border-radius: 20px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  @media screen and (min-width: 768px) {
    row-gap: 48px;
    padding: 60px;
    margin-top: 48px;
  }
  @media screen and (min-width: 1440px) {
    flex-direction: row;
    column-gap: 90px;
    border-radius: 30px;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 60px;
    padding-right: 110px;
  }
}

.info-block__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 16px;
  max-width: 250px;
  @media screen and (min-width: 768px) {
    max-width: 450px;
    font-size: 28px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 500px;
    font-size: 32px;
    margin-bottom: 32px;
  }
}

.info-block__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.39;
  }
}

.info-block__text--secondary {
  text-align: center;
  color: $additional-text-color;
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    max-width: 345px;
    margin-bottom: 32px;
    
  }
  @media screen and (min-width: 1440px) {
    max-width: 400px;
    margin-bottom: 36px;
  }
}

.info-block__text--accent {
  position: relative;
  left: 66px;
  color: $main-accent-color;
  margin-top: 16px;
  max-width: 225px;
  
  @media screen and (min-width: 768px) {
      max-width: 376px;
  }
  span{
    font-weight: 700;
  }
  @media screen and (min-width: 1440px) {
    max-width: 442px;
    margin-top: 32px;
  }
}

.info-block__text:first-child{
  margin-bottom: 8px;
}

.info-block__text--marked::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius:50%;
  margin-right: 8px;
  background-color: $main-accent-color;
  

  @media screen and (min-width: 1440px) {
    margin-right: 12px;
    width: 11px;
    height: 11px;
  }
}

.info-block__text--accent::before {
  position: absolute;
  left: -66px;
  content: '';
  display: inline-block;
  background-image: url(../images/cleaning-package/gift.svg);
  background-repeat: no-repeat;
  width: 53px;
  height: 50px;
  border-radius: 0;
  background-color: transparent;
}

.info-block__accent {
  text-align: center;
  color:$main-accent-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.15;
    @media screen and (min-width: 768px) {
      margin-bottom: 8px;
}
    @media screen and (min-width: 1440px) {
      font-size: 50px;
      line-height: 1.36;
    }
}

.info-block--second {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1440px) {
      padding-top: 10px;
  }
}
.cleaning__btn {
  font-size: 16px;
  line-height: 1.38;
  padding-top: 14px;
  padding-bottom: 14px;
  width:100%;
  @media screen and (min-width: 768px) {
    width:400px;
   
  }
  @media screen and (min-width: 1440px) {
      padding-top: 17px;
      padding-bottom: 17px;
  }
}

    