.hero__btn {
  padding: 14px 78px;
    @media screen and (min-width: 768px) {
      padding: 14px 22px;
    }
  
    @media screen and (min-width: 1440px) {
    padding: 16px 24px;
    }
}

.hero__title {
  max-width: 335px;
  margin-bottom: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  line-height: 1.15;
  font-size: 26px;
  @media screen and (min-width: 768px) {
    max-width: 453px;
    font-size: 36px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 678px;
    font-size: 55px;
    margin-bottom: 20px;
  }
  span {
    color: $main-accent-color;
  }
}

.hero__text {
  font-weight: 400;
  max-width: 335px;
  font-size: 16px;
  line-height: 1.38;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
      max-width: 453px;
  }
  @media screen and (min-width: 1440px) {
      max-width: 604px;
      font-size: 18px;
      line-height: 1.39;
      margin-bottom: 40px;
  }
  span {
    font-weight: 700;
  }
}

.hero {
  position: relative;
}

.container--thumb-container {
  position: relative;
  left: -60px;
  margin-top: 18px;
  padding: 0;
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
  @media screen and (min-width: 1440px) {
    width: 763px;
    height: 561px;
    left: -200px;
  }
}

.section--hero {
  height: 660px;
  
  @media screen and (min-width: 768px) {
      height: 849px;
  }
  @media screen and (min-width: 1440px) {
      height: 712px;
  }
}

.hero__image {
  position: absolute;
  background-image: url(../images/hero/hero_mobile.svg);
  background-repeat: no-repeat;
  width: 425px;
  height: 285px;
  background-position: center;
  background-size: contain;

 
  @media screen and (min-width: 768px) {
    background-image: url(../images/hero/hero_tablet.svg);
    width: 738px;
    height: 495px;
  }
     
   @media screen and (min-width: 1440px) {
    background-image: url(../images/hero/hero.svg);
    width: 836px;
    height: 561px;

  }
}

.hero__container {
  @media screen and (min-width: 1440px) {
    display: flex;
  }
}

.hero__info{
  @media screen and (min-width: 1440px) {
      min-width: 678px;
    }
}