//  header{
//   background-color: tomato;
//  }

 .header__container {
  position:relative;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
 }

 .nav {
  display: flex;
  align-items: center;
 }

 .nav__list {
  display: flex;
  align-items: center;
  gap:3px;
  margin-left: 65px;
  margin-right: 65px;
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.42;
  border: 2px solid $main-accent-color;
  border-radius: 50px;
  @media screen and (min-width: 768px) {
      margin-left: 47px;
      margin-right: 0;
  }
 }

 .nav__item {
  padding: 5px 14px;
  border-radius: 25px;
  transition: color $cubic, background-color $cubic;
  &:has(.nav__link--current) {
    background-color: $main-accent-color;
  }
  &:not(:has(.nav__link--current)):hover   {
    background-color: $main-accent-color;
     .nav__link {
      color: $primary-white-color;
     }
  }
 }

 .nav__link {
  position:relative;
  display: block;
  color: $primary-black-color;
  transition: color $cubic, background-color $cubic;
 }

 .nav__link--current {
  color: $primary-white-color;
 }

 .menu {
  display: none;
  @media screen and (min-width: 1440px) {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 62px;
  }
 }

 .menu__link {
  font-size: 18px;
  font-weight: 600;
  line-height: auto;
  color: $primary-black-color;
  transition: color $cubic;
  &:hover,
    &:focus {
      color: $main-accent-color;
    }
 }

 .contacts {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    gap: 40px;
  } 
}

 .socials {
  display: none;
  @media screen and (min-width: 768px) {
      display: flex;
      gap: 14px;
  }
  @media screen and (min-width: 1440px) {
      display: flex;
  }      
 }

.contacts__socials {
    @media screen and (min-width: 768px) {
        margin-left: 49px;
      }
      @media screen and (min-width: 1440px) {
        gap: 15px;
        margin-left: 62px;
      }
}



.socials__item {
  border-radius: 50%;
  background-color: transparent;
  transition:  background-color $cubic;
&:hover, &:focus {
    color: $primary-white-color;
    background-color: $main-accent-color;
    .socials__icon {
      fill:$primary-white-color;
    }
  }
}
.socials__link {
 color: $main-accent-color;
 display: flex;
 align-items: center;
 justify-content: center;
}
.socials__icon {
  fill: currentColor;
  transition: fill $cubic;
}

  .socials__icon {

      width: 32px;
      height: 32px;
  
  @media screen and (min-width: 1440px) {
      width: 40px;
      height: 40px;
  }
 }

 .menu-toggle {
    margin-left: auto;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
 }