.theme-toggler-wrap {
  position: relative;
  margin-right: 40px;
  display: flex;
  // background-color: red;
  width: 130px;
  height: 60px;
  border: 5px solid $card-hover-effect-color;
  border-radius: 40px;

}
.theme__circle {
  position: absolute;
  top:0;
  left: -1px;
  border-radius: 50%;
  height: 52px;
  width: 52px;
  background-color: $card-hover-effect-color;
  // background-color: green;
}

.circle__sun {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $btn-arrow-color;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.circle__ray {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $btn-arrow-color;
  width: 3px;
  height: 10px;
  }

.circle__ray:nth-child(2) {
  transform: translate(-50%, calc(-50% - 15px));
}

.circle__ray:nth-child(5) {
  transform: translate(-50%, calc(-50% + 15px));
}

.circle__ray:nth-child(4) {
  transform: translate(calc(-50% + 15px), -50%) rotate(90deg);
}

.circle__ray:nth-child(8) {
  transform: translate(calc(-50% - 15px), -50%) rotate(90deg);
}

.circle__ray:nth-child(3) {
  transform: translate(calc(-50% + 11px), calc(-50% - 11px)) rotate(45deg);
}

.circle__ray:nth-child(9) {
  transform: translate(calc(-50% - 11px), calc(-50% - 11px)) rotate(-45deg);
}

.circle__ray:nth-child(7) {
  transform: translate(calc(-50% - 11px), calc(-50% + 11px)) rotate(45deg);
}
.circle__ray:nth-child(6) {
  transform: translate(calc(-50% + 11px), calc(-50% + 11px)) rotate(-45deg);
}