<section
  class="section section--dark-background section--no-padding-bottom cleaning"
  id="order-cleaning-block"
>
  <div class="container order-cleaning__container">
    <h2 class="section__title">Пакет прибирання на місяць</h2>
    <p class="cleaning__text">
      Підписка діє протягом 30 днів та лише за однією адресою. При закінченні
      терміну дія підписки згорає. Працюємо лише по місту Лодзь
    </p>
    <div class="cleaning__info">
      <div class="info-block info-block--first">
        <h3 class="info-block__title">
          Місячна підписка на клінінг для будинку чи квартири
        </h3>
        <ul class="info-block__list">
          <li class="info-block__item text text--marked">
            1 генеральне прибирання
          </li>
          <li class="info-block__item text text--marked">
            1 базове прибирання
          </li>
        </ul>

        <p class="text text--accent">
          Хімчистка стільців, диванів, матраців, подушок та крісел раз у 6
          місяців у <span>подарунок</span>!
        </p>
      </div>
      <div class="info-block info-block--second info-block--with-padding">
        <p class="info-block__accent">399zł</p>
        <p class="text text--secondary">
          1 генеральне прибирання + 1 підтримуюче прибирання
        </p>
        <button
          class="cleaning__btn btn"
          type="button"
          data-subscription-modal-open
        >
          Замовити прибирання
        </button>
      </div>
    </div>
    <div class="cleaning__banner banner">
      <h3 class="info-block__title title--white">
        Порадь нас своїм знайомим та отримай знижку на наступну підписку з
        прибирання <span>50zł!</span>
      </h3>
    </div>
    <include src="./partials/maintenance.html"></include>
  </div>
</section>
