<section
  class="relative-positionedsection section--dark-background section--hero home-hero"
>
  <div class="container hero__container">
    <div class="hero__info">
      <h1 class="hero__title">
        <span>Приберемо</span> у вашому будинку чи квартирі у Лодзі всього
        <span>за 399zł</span>
      </h1>
      <p class="hero__text">
        Клінінгова компанія Comfort Group пропонує акційну підписку на послуги
        клінінгу у Лодзі всього за <span>399zł</span>. Підписка включає
        прибирання в кімнатах, санвузлі та кухні.
      </p>
      <div class="animated-btn-wrap">
        <a
          href="#order-cleaning-block"
          class="btn hero__btn action-btn blob-btn"
        >
          Замовити прибирання
          <span class="blob-btn__inner">
            <span class="blob-btn__blobs">
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
            </span>
          </span>
        </a>
        <include src="partials/common/btn-animation-svg.html"></include>
      </div>
    </div>
    <div class="container--thumb-wrapp">
      <div class="hero__image"></div>
    </div>
  </div>
</section>
